:root {
  --color-60: #fff3c7;
  --color-30: #fec7b4;
  --color-10: #fc819e;
  --color-10-focus: #fc819ec5;
  --color-hl: #f7418f;
  --color-hl-focus: #f74190b3;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--color-60);
}

nav {
  padding: 30px 20px;
  margin: 20px;
  background-color: var(--color-30);
  height: 85%;
  width: 80%;
  border-radius: 20px;
}

nav > button {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  width: 200px;
  gap: 15px;
  padding: 10px 20px;
  font-weight: 750;
  width: 100%;
  background: none;
  border: none;
  border-radius: 20px;
}

nav > button:hover {
  background-color: var(--color-10);
}

nav > button > svg {
  height: 25px;
  width: auto;
}

.project-nav {
  display: flex;
  flex-direction: column;
}

.project-nav > h1 {
  font-size: 2rem;
  font-weight: 800;
  padding-left: 20px;
}

.project-nav > .project-container {
  height: 300px;
}

.project-nav > .project-add {
  justify-self: flex-end;
  display: flex;
  background: none;
  border: none;
  font-size: 1.15rem;
  border-radius: 20px;
  padding-left: 20px;
  align-items: end;
}

.project-nav > .project-add:hover {
  background-color: var(--color-10);
}

/*main*/
main {
  padding: 30px 20px;
  margin: 20px;
  background-color: var(--color-30);
  height: 85%;
  width: 90%;
  border-radius: 20px;
  position: relative;
}

.taskInputButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  font-size: 2rem;
  padding: 20px 30px;
  border-radius: 100px;
  border: none;
  background-color: var(--color-hl);
}

.taskInputButton:hover {
  cursor: pointer;
  background-color: var(--color-hl-focus);
}
