:root {
  --primary-color: #f26b38; /* Orange */
  --primary-color-400: #f58549; /* Medium Orange */
  --primary-color-200: #f89f5a; /* Light Orange */
  --primary-color-100: #fbb96b; /* Very Light Orange */
  --secondary-color: #ffd700; /* Gold */
  --secondary-color-400: #ffeb3b; /* Light Gold */
  --secondary-color-300: #fff576; /* Lighter Gold */
  --secondary-color-200: #fff9b1; /* Very Light Gold */
  --secondary-color-100: #ffffcc; /* Pale Gold */
  --neutral-color: #000000; /* Black */
  --neutral-color-700: #404040;
  --neutral-color-600: #808080;
  --neutral-color-500: #c0c0c0;
  --neutral-color-400: #e0e0e0;
  --neutral-color-300: #f0f0f0;
  --neutral-color-200: #f8f8f8;
  --neutral-color-150: #fcfcfc;
  --neutral-color-100: #ffffff;
  --neutral-color-50: #ffffff;
  --do-color: #ff4500; /* OrangeRed */
  --schedule-color: #ffd700; /* Gold */
  --delegate-color: #1e90ff; /* DodgerBlue */
  --eliminate-color: #808080; /* Gray */
  --text-color: var(--neutral-color);
  --text-color-white: var(--neutral-color-50);
  --background-color: var(--neutral-color-200);
  --surface-color: var(--neutral-color-50);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-areas:
    "aside header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  background-color: var(--neutral-color-100);
  color: var(--neutral-color);
}

header {
  grid-area: header;
  display: flex;
  height: 20px;
  padding: 10px 20px;
}

footer {
  grid-area: footer;
  justify-content: center;
  padding: 10px 20px;
}

header,
footer {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  font-weight: 600;
}

aside {
  grid-area: aside;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-400);
  box-shadow: 4px 4px 10px var(--neutral-color-600);
}
aside > span {
  font-size: 2.5rem;
  font-weight: 800;
  width: 200px;
  padding-left: 20px;
  padding-bottom: 20px;
}

aside > button {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  font-weight: 750;
  border: none;
  width: 100%;
  background-color: var(--primary-color-400);
}

aside > button:hover {
  color: var(--neutral-color-150);
  background-color: var(--primary-color);
}

aside > button > svg {
  height: 25px;
  width: auto;
}

.project-aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.project-aside > h1 {
  font-size: 2rem;
  font-weight: 800;
  padding-left: 20px;
  margin: 20px 0px 0px 0px;
  border-bottom: 1px solid var(--neutral-color-600);
}

.project-aside > .project-add {
  background: none;
  border: none;
  display: flex;
  padding: 20px;
  font-size: 1.15rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
}

.project-aside > .project-add:hover {
  color: var(--neutral-color-150);
  background-color: var(--primary-color);
}

/*main*/
main {
  grid-area: main;
}

.taskInputButton {
  position: absolute;
  bottom: 0;
  right: 10px;
  margin: 20px;
  font-size: 3rem;
  padding: 20px 30px;
  border-radius: 100px;
  border: none;
  background-color: var(--primary-color-200);
  color: var(--neutral-color-100);
}

.taskInputButton:hover {
  cursor: pointer;
  background-color: var(--primary-color-100);
}

/*add task design*/
::backdrop {
  background-color: rgba(0, 0, 0, 0.629);
}

dialog {
  background-color: var(--primary-color-100);
  padding: 20px;
  border: none;
  box-shadow: 3px 10px 10px var(--neutral-color-700);
  border-radius: 20px;
}

dialog > form {
  display: flex;
  flex-direction: column;
  position: relative;
}

dialog > form > :nth-child(2) {
  align-self: end;
  padding: 10px 17px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.3rem;
  position: absolute;
  background-color: var(--neutral-color-500);
  border: 3px solid var(--neutral-color);
}

dialog > form > :nth-child(2):hover {
  background-color: var(--neutral-color-400);
}

form > .form-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  align-items: center;
}

form > .form-container > input,
form > .form-container > textArea {
  padding: 10px 20px;
  font-size: 1.1rem;
}

form > .form-container .label {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
}

form > :last-child {
  align-self: flex-end;
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 100px;
  border: none;
  background-color: var(--primary-color);
}

form > :last-child:hover {
  background-color: var(--primary-color-400);
}

.form-container > .prio-container {
  display: flex;
}

.form-container > .prio-container > input {
  height: 20px;
  width: 20px;
}

.form-container > .prio-container > input:hover {
  cursor: pointer;
}

.form-container > .prio-container > label {
  padding-right: 10px;
  font-weight: 700;
  font-size: 1.2rem;
}
